﻿@inherits UmbracoViewPage<EnjoyDigitalUniversity.ViewModels.CourseListingViewModel>
@{
  Layout = "Master.cshtml";  
}

<div class="umb-grid">
  <div class="grid-section">
    <div class="light">
        <div class="container">
            @using (Html.BeginUmbracoForm("Listing", "CourseViewModel", null, new { @class = "js-ajax-form", data_holder = "form-output" }, FormMethod.Post))
            {

            <table id="table" style="display:none ; width:100%" >
                <tr>
                    <th>Course</th>
                    <th>Summary</th>
                    <th>Department</th>
                    <th>URL</th>
                </tr>
                @foreach (var course in Model.Content.Children)
                {
                    <tr>

                        <td>@course.Name</td>
                        <td>@(course.GetPropertyValue<HtmlString>("bodyText"))</td>
                        <td>@(course.GetPropertyValue<string>("department"))</td>
                        <td><a href="@course.Url">@course.Url</a></td>
                    </tr>
                }

            </table>

                <input type="submit" value="Search" onclick="myFunction()">
            }

            <div class="form-output">

                <style>
                    table, th, tr, td {
                        border: 1px solid black;
                        
                    }
                </style>

                <script>
                    function myFunction() {
                        document.getElementById('table').style.display = 'block';
                    }
                </script>






            </div>
        </div>
    </div>
  </div>
</div>

@section scripts{
  <script src="/scripts/forms.js"></script>
}